body {
  width: 80%;
  margin: auto;
}
h1 {
  font-size: 4rem;
}
header {
  background-color: aquamarine;
  border: 2px solid grey;
  min-height: 200px;
  display: flex;
  align-items: center;
}
header > * {
  margin: 1rem;
}
main {
  min-height: 500px;
}
footer {
  background-color: chocolate;
  min-height: 100px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
}
.articles > * {
  border: 1px solid black;
  margin: 1rem;
  min-width: 30%;
  min-height: 100px;
}
article {
  border: 1px solid black;
  width: 30%;
  margin: 1rem auto;
  min-height: 100px;
}
.primary {
  border: 2px solid red;
}
main p {
  margin-left: 2rem;
}
